.form__submit {
  margin-top: auto;
  padding: 14px;
  border: none;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 350px) {
  .form__submit {
    font-size: 16px;
    line-height: 19px;
  }
}
