.form__input {
  display: inline-block;
  margin-bottom: 30px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  background: none;
  outline: transparent;
}
